.gridContainer {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas:
    "navbar navbar"
    "sidebar feed"
}

.navbar {
    grid-area: navbar;
    color: black;
}

.sidebar {
    grid-area: sidebar;
    // height: 100%;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-right: 1px solid #182026;
    
    &.light {
        background-color: #F5F8FA;
        color: black;
    }

    &.dark {
        background-color: #394B59;
        color: white;
    }
}

.feed {
    grid-area: feed;
    min-height: 100vh;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    
    &.light {
        background-color: #F5F8FA;
    }

    &.dark {
        background-color: #394B59;
    }
}

.navbarStyles {
    height: 10px;
}


