.postLayout {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.cardLayout {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.filterContainer {
    display: flex;
    justify-content: center;
}

.filter {
    width: 80%;
    margin-top: 10px;
}