.postLayout {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.cardLayout {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.filterContainer {
    display: flex;
    justify-content: center;
}

.filter {
    width: 80%;
    margin-top: 10px;
}

.feedItem {
    width: 80%;

    &.alert {
        border: 2px solid #DB3737;
    }

    &.warning {
        border: 2px solid #F2B824;
    }

    &.info {
        border: 2px solid #29A634;
    }

    &.default {
        border: none;
    }

}

.username {
    display: flex;
    align-items: center;
}

.commenter {
    font-weight: bold;
}